<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${titre}">Titre</title>
</head>

<body>
    <h1 th:text="${titre}"></h1>
    <div th:insert="~{layouts/nav :: navigation}"></div>
    <br>

    <form th:action="@{/livre/add}" th:object="${livreForm}" method="post">
        Auteur:
        <input type="text" th:field="*{auteur}">
        <br>
        Titre:
        <input type="text" th:field="*{titre}">
        <br>
        <input type="submit" value="Create">
    </form>
    <a th:href="@{/livre}">Retour</a>
</body>

</html>