<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${titre}"></title>
</head>

<body>
    <h1 th:text="${titre}"></h1>
    <div th:insert="~{layouts/nav :: navigation}"></div>
    <br>
    <a th:href="@{/livre/add}">Ajouter un nouveau Livre</a>
    <table>
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livre : ${livres}">
                <td th:text="${livre.auteur}"></td>
                <td th:text="${livre.titre}"></td>
                <td>
                    <a th:href="@{/livre/delete/{id}(id=${livre.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>