<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${titre}"></title>
    <th:block th:replace="layouts/style :: style"></th:block>
</head>

<body>
    <h1 th:text="${titre}"></h1>
    <div th:insert="~{layouts/nav :: navigation}"></div>
    <br>
    <a th:href="@{/livre/add}">Ajouter un nouveau Livre</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Auteur</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livre : ${livres}">
                <th scope="row" th:text="${livre.id}"></th>
                <td th:text="${livre.auteur}"></td>
                <td th:text="${livre.titre}"></td>
                <td class="d-flex">
                    <div th:replace="layouts/update :: update(link= @{/livre/update/{id}(id=${livre.id})} )">
                    </div>
                    <div th:replace="layouts/delete :: delete(link= @{/livre/delete/{id}(id=${livre.id})} )">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>