<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${titre}">Titre</title>
    <th:block th:replace="layouts/style :: style"></th:block>
</head>

<body>
    <h1 th:text="${titre}"></h1>
    <div th:insert="~{layouts/nav :: navigation}"></div>
    <br>

    <form th:action="'/livre/update/'+${livre.id}" th:object="${livreForm}" method="post">
        Titre:
        <input type="text" th:field="${livre.titre}" name="titre">
        <br>
        Auteur:
        <input type="text" th:field="${livre.auteur}" name="auteur">
        <br>
        <input type="submit" value="Update">
    </form>
    <a th:href="@{/livre}">Retour</a>
</body>

</html>