<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${titre}">Titre</title>
	<th:block th:replace="layouts/style :: style"></th:block>
</head>

<body>
	<h1 th:text="${titre}"></h1>
	<div th:insert="~{layouts/nav :: navigation}"></div>
	<br>

	<form th:action="@{/client/add}" th:object="${clientForm}" method="post">
		First Name:
		<input type="text" th:field="*{prenom}">
		<br>
		Last Name:
		<input type="text" th:field="*{nom}">
		<br>
		<input type="submit" value="Create">
	</form>
	<a th:href="@{/client}">Retour</a>
</body>

</html>