<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${titre}"></title>
    <th:block th:insert="layouts/style :: style"></th:block>
</head>

<body>
    <h1 th:text="${titre}"></h1>
    <div th:insert="~{layouts/nav :: navigation}"></div>
    <br>
    <a th:href="@{/client/add}">Ajouter un nouveau Client</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="client : ${clients}">
                <th scope="row" th:text="${client.id}"></th>
                <td th:text="${client.nom}"></td>
                <td th:text="${client.prenom}"></td>
                <td class="d-flex">
                    <div th:replace="layouts/update :: update(link=@{/client/update/{id}(id=${client.id})})">
                    </div>
                    <div th:replace="layouts/delete :: delete(link=@{/client/delete/{id}(id=${client.id})})">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>